<a href="/dashboard/update/{{id}}">
    <article class="post">
        <div class="title">
            {{title}}
            <div class="meta">
                Posted by {{user.username}} on {{format_date created_at}}
            </div>
        </div>
    </article>
</a>