{{#if posts.length}}
<section>
  <ul class="post-list">
    {{#each posts as |post|}}
    <li>
        {{> post-title post}}
    </li>
    {{/each}}
  </ul>
</section>
{{/if}}

{{#if loggedIn}}
<a href="/dashboard/new-post" id="newPost">+New Post</a>
{{/if}}